    .navbar {
        margin: 0 !important;
        padding-left: 15% !important;
        padding-top: 18px !important;
        padding-bottom: 18px !important;
        background-color: #c4161c;
    }
    
    #navbarNav {
        padding-left: 40%;
    }
    
    .nav-link {
        font-size: larger !important;
        font-weight: bold !important;
    }
    
    * {
        padding: 0;
        margin: 0;
    }
    
    body {
        background-size: cover;
        background-attachment: fixed;
        position: relative;
    }
    
    main {
        position: absolute;
        left: 0;
        width: 100%;
    }
    
    .intro {
        background-color: #ffffff;
        padding: 10vh 0;
    }
    
    .intro-content {
        height: 65vh;
        display: flex;
        flex-wrap: wrap;
    }
    
    .form {
        display: flex;
        align-items: center;
    }
    
    .intro-content div {
        width: 100%;
    }
    
    .intro-text p {
        text-align: left;
        color: #828282;
        line-height: 30px;
    }
    
    .container {
        width: 100%;
        margin: 0 auto;
    }
    
    .header {
        height: 100vh;
        color: #c4161c;
        line-height: 50px;
        font-size: larger;
        font-weight: bold;
    }
    
    .header-content {
        padding-top: 30vh;
        text-align: center;
    }
    
    .header-content h1,
    .intro-content h1,
    .contact-section h1 {
        font-size: 42px;
    }
    
    .form {
        padding-left: 30%;
    }
    /* form.form button {
    float: left;
    width: 30px;
    height: 50px;
    padding-top: 20px;
    padding-left: 10px;
    background: transparent;
    color: black;
    font-size: 17px;
    border: none;
    border-left: none;
    cursor: pointer;
} */
    
    .button {
        width: 190px;
        height: 40px;
        padding-left: 39%;
        align-content: center;
        color: #c4161c;
    }
    
    .button .btn-danger {
        width: 190px;
    }
    
    .intro-text li {
        list-style-type: none;
        position: relative;
        padding-left: 15px;
        color: #c4161c;
    }
    
    .intro li:before {
        content: "\2192 \0020";
        font-size: 20px;
        top: -6px;
        left: -10px;
        color: blue;
    }
    
    .introduction {
        background-color: #c4161c;
        padding: 5vh 0;
    }
    
    .covid-content {
        height: 20vh;
        display: flex;
        flex-wrap: wrap;
        color: white;
    }
    
    .criteria-intro {
        background-color: #ffffff;
        padding: 10vh 0;
    }
    /* .mid-section-intro {
        height: 140vh;
        display: flex;
        flex-wrap: wrap;
    } */
    
    .criteria-intro .card {
        padding: 10px;
        border: none;
    }
    /* .mid-section-intro div {
        width: 33.33%;
    } */
    
    .card p {
        color: #828282;
        line-height: 30px;
    }
    
    .requirements {
        background-color: #ffffff;
        padding: 10vh 0;
    }
    
    .criteria-intro h3 {
        color: #c4161c;
    }
    
    .doctor-section {
        background-color: #ffffff;
    }
    
    .col-md-3 {
        padding: 10px;
    }
    
    .plasma-footer {
        height: 55vh;
        padding-top: 30px;
        background-color: #c4161c;
    }
    
    .plasma-footer h4 {
        color: #ffffff;
    }
    
    .plasma-footer p {
        color: #ffffff;
    }
    
    .plasma-footer a {
        text-decoration: none;
        color: #ffffff;
    }
    
    .plasma-footer a:hover {
        color: white;
        text-decoration: none;
    }
    
    .col-md-3 .card {
        border: none;
    }
    
    .col-md-3 .card-title {
        color: blue;
    }
    
    @media screen and (max-width: 1200px) {
        #navbarNav {
            padding-left: 30%;
        }
        .header {
            height: auto + 10px;
        }
        .header-content {
            padding-top: 10%;
        }
        .intro-content {
            height: auto;
        }
        .covid-content {
            height: auto;
        }
        .mid-section-intro {
            height: auto;
        }
        .button {
            padding-left: 40%;
        }
        .requirements-content {
            padding-top: 20px;
        }
        .plasma-footer {
            height: auto;
        }
    }
    
    @media screen and (max-width:1000px) {
        #navbarNav {
            padding-left: 23%;
        }
        .covid-content {
            height: auto;
        }
        .criteria-intro {
            height: auto;
        }
        .plasma-footer {
            height: auto;
        }
    }
    
    @media screen and (max-width:995px) {
        #navbarNav {
            padding-left: 0%;
        }
        .button {
            padding-left: 45%;
        }
        .mid-section-intro {
            height: auto;
        }
        .requirements-content {
            padding-top: 20px;
        }
        .plasma-footer {
            height: auto;
        }
    }
    
    @media screen and (max-width:770px) {
        .header {
            height: auto + 10px;
        }
        .header-content {
            padding-top: 15%;
        }
        .intro-content {
            height: auto;
        }
        .covid-content {
            height: auto;
        }
        .mid-section-intro {
            height: auto;
        }
        .form {
            padding-left: 20%;
        }
        .button {
            padding-left: 37%;
        }
        .requirements-content {
            padding-top: 20px;
        }
        .criteria-intro {
            height: auto;
        }
        .plasma-footer {
            height: auto;
        }
        .mid-section-intro .card {
            width: 100%;
            display: inline;
        }
        .plasma-footer .container {
            display: flex;
        }
    }
    
    @media screen and (max-width:535px) {
        .header {
            height: auto + 10px;
        }
        .intro-content {
            height: auto;
        }
        .mid-section-intro .card {
            width: 100%;
        }
        .requirements {
            margin-top: -200px;
        }
        .form {
            display: inline;
            align-items: center;
        }
        .button {
            padding-left: 32%;
        }
        .header-content {
            padding-top: 50px;
        }
        .requirements-content {
            padding-top: 20px;
        }
        .criteria-intro {
            height: auto;
        }
        .plasma-footer {
            height: auto;
        }
        .col-md-3 .btn-danger {
            width: 100%;
            text-align: center;
        }
        .plasma-footer {
            text-align: center;
        }
    }
    
    @media screen and (max-width:494px) {
        .intro-content {
            height: auto + 10px;
        }
        .covid-content {
            height: auto;
        }
        .requirements-content {
            padding-top: 70px;
        }
        .plasma-footer {
            height: auto;
        }
        .criteria-intro {
            height: auto;
        }
    }
    
    @media screen and (max-width:480px) {
        .header {
            height: auto + 10px;
        }
        .intro-content {
            height: auto;
        }
        .covid-content {
            height: auto;
        }
        .criteria-intro {
            height: auto;
        }
        .plasma-footer {
            height: auto;
        }
    }
    
    @media screen and (max-width:430px) {
        .header {
            height: auto + 10px;
        }
        .intro-content {
            height: auto;
        }
        .covid-content {
            height: auto;
        }
        .button {
            padding-left: 28%;
        }
        .requirements-content {
            padding-top: 20px;
        }
        .criteria-intro {
            height: auto;
        }
        .plasma-footer {
            height: auto;
        }
    }
    
    @media screen and (max-width:414px) {
        .header {
            height: auto + 10px;
        }
        .header-content {
            padding-top: 30%;
        }
        .intro-content {
            height: auto;
        }
        .criteria-intro {
            height: auto;
        }
        .plasma-footer {
            height: auto;
        }
    }
    
    @media screen and (max-width:411px) {
        .header {
            height: auto + 10px;
        }
        .intro-content {
            height: auto;
        }
        .criteria-intro {
            height: auto;
        }
        .plasma-footer {
            height: auto;
        }
    }
    
    @media screen and (max-width:390px) {
        .header {
            height: auto + 10px;
        }
        .intro-content {
            height: auto;
        }
        .requirements-content {
            padding-top: auto;
        }
        .criteria-intro {
            height: auto;
        }
        .plasma-footer {
            height: auto;
        }
    }
    
    @media screen and (max-width:375px) {
        .header {
            height: auto+12px;
        }
        .intro-content {
            height: auto;
        }
        .requirements-content {
            padding-top: 50px;
        }
        .covid-content {
            height: auto;
        }
        .criteria-intro {
            height: auto;
        }
        .button {
            padding-left: 20%;
        }
        .plasma-footer {
            height: auto;
        }
    }
    
    @media screen and (max-width:360px) {
        .header {
            height: auto + 1px;
        }
        .button {
            padding-left: 22%;
        }
        .plasma-footer {
            height: auto;
        }
        /* .intro-content {
        height: 85vh;
    } */
        .intro-content {
            height: auto;
        }
        .covid-content {
            height: auto;
        }
        .requirements-content {
            padding-top: 50px;
        }
        .criteria-intro {
            height: auto;
        }
    }
    
    @media screen and (max-width:338px) {
        .intro-content {
            height: auto + 10px;
        }
        .plasma-footer {
            height: auto;
        }
        .criteria-intro {
            height: auto;
        }
    }
    
    @media screen and (max-width:335px) {
        .header {
            height: auto + 10px;
        }
        .intro-content {
            height: auto;
        }
        .covid-content {
            height: auto;
        }
        .plasma-footer {
            height: auto;
        }
        .criteria-intro {
            height: auto;
        }
    }
    
    @media screen and (max-width:320px) {
        .header {
            height: auto+15px;
        }
        .button {
            padding-left: 15%;
        }
        .intro-content {
            height: auto;
        }
        .covid-content {
            height: auto;
        }
        .criteria-intro {
            height: auto;
        }
        .plasma-footer {
            height: auto;
        }
    }
    
    @media screen and (max-width:312px) {
        .header {
            height: auto + 10px;
        }
        .intro-content {
            height: auto;
        }
        .button {
            padding-left: 17%;
        }
        .covid-content {
            height: auto;
        }
        .plasma-footer {
            height: auto;
        }
        .criteria-intro {
            height: auto;
        }
    }
    
    @media screen and (max-width:298px) {
        .header {
            height: auto + 10px;
        }
        .intro-content {
            height: 100vh;
        }
        .criteria-intro {
            height: 220vh;
        }
        .covid-content {
            height: 45vh;
        }
        .plasma-footer {
            height: auto;
        }
    }